
.form {
  margin: 1rem 0;
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
}
.form label {
  color: black;
  font-weight: bold;
  text-align: left;
}
.form input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 0.2rem;
  border-radius: 12px;
}
.form textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.2rem;
  border-radius: 12px;
  border: 1px solid #ccc;
}
